#remaining {
  width: 230px;
  height: 38px;
  margin-right: 1rem;
  border:solid 1px #ced4da;
  background-color: #fff;
  padding: 6px;
  text-align: center;
  border-radius: .25rem;
}
.team-type {
  color:#efefef;
}
.navbar input {
  height: 38px;
  margin: 0 1rem 0 0;
  border-radius: .25rem;
  padding: .5rem;
  border: solid 1px #ced4da;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.card {
  flex-direction: row;
  height: 100%;
}
.card-img-top {
  min-width: 200px;
  height: 300px;
  object-fit: cover;
}
.card-body_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-description {
  flex-grow: 1;
}
.card-body_wrapper hr {
  width: 100%;
}
select {
  width: 100%;
}
