extends ../_layout
include ../mixins/movie_box.pug
include ../mixins/worst_movie_icon.pug
include ../mixins/best_movie_icon.pug

block styles
  link(rel="stylesheet" href="/stylesheets/style.css")

block content
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="#") &#127909; Fantasy Movie League
    div.team-type.form-inline
      label Team: &nbsp;
        select.form-control#selected-team(onchange=`changeTeam(event, '${slug}');`)
          option
          each team in teams
            option(value= team.id)= team.name
    div.season-selector.form-inline
      label Season: &nbsp;
        select.form-control#selected-season(onchange="changeSeason(event)")
          each season in seasons
            option(value=season.slug selected= slug === season.slug)= season.name
      
  div.main: div.row: div.container
    div(style={"padding":"2.2em 0"}): h2 Please select a team above!
block scripts
  script(src='/javascripts/index.js')